.button {
  cursor: pointer;
  outline: none;
  display: inline-block;
  margin: 0;
  padding: 0.5em 1.5em 0.65em 1.5em;
  line-height: 1.2em;
  text-align: center;
  font-family: "helvetica neue", "helvetica", "arial", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s; }
  .button.large {
    font-size: 18px; }
  .button.round {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px; }
  .button.set {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.2); }
  .button:active {
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.5); }
    .button:active.set {
      box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.3);
      -webkit-box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.3);
      -moz-box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.3); }
  .button.disabled, .button[disabled] {
    cursor: default;
    opacity: 0.7; }
    .button.disabled:hover, .button.disabled:active, .button[disabled]:hover, .button[disabled]:active {
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
      -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
      -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4); }
      .button.disabled:hover.set, .button.disabled:active.set, .button[disabled]:hover.set, .button[disabled]:active.set {
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.2);
        -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.2);
        -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.2); }
  .button.green {
    background: #70bf52;
    background: -webkit-gradient(linear, left top, left bottom, from(#70bf52), to(#3d712a));
    background: -moz-linear-gradient(top, #70bf52, #3d712a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #70bf52, endColorstr = #3d712a);
    border-top: solid 1px #70bf52;
    border-right: solid 1px #3d712a;
    border-bottom: solid 1px #294b1c;
    border-left: solid 1px #3d712a; }
    .button.green.set {
      border: solid 1px #294b1c; }
    .button.green:hover {
      background: #84c86b;
      background: -webkit-gradient(linear, left top, left bottom, from(#84c86b), to(#4b8933));
      background: -moz-linear-gradient(top, #84c86b, #4b8933);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #84c86b, endColorstr = #4b8933); }
    .button.green:active {
      color: #294b1c !important;
      border-top: solid 1px #294b1c;
      border-bottom: solid 1px #3d712a;
      background: #3d712a;
      background: -webkit-gradient(linear, left top, left bottom, from(#3d712a), to(#4b8933));
      background: -moz-linear-gradient(top, #3d712a, #4b8933);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #3d712a, endColorstr = #4b8933); }
    .button.green.disabled, .button.green[disabled] {
      color: #70bf52; }
      .button.green.disabled:hover, .button.green.disabled:active, .button.green[disabled]:hover, .button.green[disabled]:active {
        border-top: solid 1px #70bf52;
        border-right: solid 1px #3d712a;
        border-bottom: solid 1px #294b1c;
        border-left: solid 1px #3d712a;
        background: #70bf52;
        background: -webkit-gradient(linear, left top, left bottom, from(#70bf52), to(#3d712a));
        background: -moz-linear-gradient(top, #70bf52, #3d712a);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #70bf52, endColorstr = #3d712a); }
        .button.green.disabled:hover.set, .button.green.disabled:active.set, .button.green[disabled]:hover.set, .button.green[disabled]:active.set {
          border: solid 1px #294b1c; }
  .button.blue {
    background: #7292cb;
    background: -webkit-gradient(linear, left top, left bottom, from(#7292cb), to(#365691));
    background: -moz-linear-gradient(top, #7292cb, #365691);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #7292cb, endColorstr = #365691);
    border-top: solid 1px #7292cb;
    border-right: solid 1px #365691;
    border-bottom: solid 1px #28406c;
    border-left: solid 1px #365691; }
    .button.blue.set {
      border: solid 1px #28406c; }
    .button.blue:hover {
      background: #8ba5d4;
      background: -webkit-gradient(linear, left top, left bottom, from(#8ba5d4), to(#3f65aa));
      background: -moz-linear-gradient(top, #8ba5d4, #3f65aa);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #8ba5d4, endColorstr = #3f65aa); }
    .button.blue:active {
      color: #28406c !important;
      border-top: solid 1px #28406c;
      border-bottom: solid 1px #365691;
      background: #365691;
      background: -webkit-gradient(linear, left top, left bottom, from(#365691), to(#3f65aa));
      background: -moz-linear-gradient(top, #365691, #3f65aa);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #365691, endColorstr = #3f65aa); }
    .button.blue.disabled, .button.blue[disabled] {
      color: #7292cb; }
      .button.blue.disabled:hover, .button.blue.disabled:active, .button.blue[disabled]:hover, .button.blue[disabled]:active {
        border-top: solid 1px #7292cb;
        border-right: solid 1px #365691;
        border-bottom: solid 1px #28406c;
        border-left: solid 1px #365691;
        background: #7292cb;
        background: -webkit-gradient(linear, left top, left bottom, from(#7292cb), to(#365691));
        background: -moz-linear-gradient(top, #7292cb, #365691);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #7292cb, endColorstr = #365691); }
        .button.blue.disabled:hover.set, .button.blue.disabled:active.set, .button.blue[disabled]:hover.set, .button.blue[disabled]:active.set {
          border: solid 1px #28406c; }
  .button.grey {
    background: #999999;
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#5e5e5e));
    background: -moz-linear-gradient(top, #999999, #5e5e5e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #999999, endColorstr = #5e5e5e);
    border-top: solid 1px #999999;
    border-right: solid 1px #5e5e5e;
    border-bottom: solid 1px #444444;
    border-left: solid 1px #5e5e5e; }
    .button.grey.set {
      border: solid 1px #444444; }
    .button.grey:hover {
      background: #aaaaaa;
      background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#6f6f6f));
      background: -moz-linear-gradient(top, #aaaaaa, #6f6f6f);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #aaaaaa, endColorstr = #6f6f6f); }
    .button.grey:active {
      color: #444444 !important;
      border-top: solid 1px #444444;
      border-bottom: solid 1px #5e5e5e;
      background: #5e5e5e;
      background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#6f6f6f));
      background: -moz-linear-gradient(top, #5e5e5e, #6f6f6f);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #5e5e5e, endColorstr = #6f6f6f); }
    .button.grey.disabled, .button.grey[disabled] {
      color: #999999; }
      .button.grey.disabled:hover, .button.grey.disabled:active, .button.grey[disabled]:hover, .button.grey[disabled]:active {
        border-top: solid 1px #999999;
        border-right: solid 1px #5e5e5e;
        border-bottom: solid 1px #444444;
        border-left: solid 1px #5e5e5e;
        background: #999999;
        background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#5e5e5e));
        background: -moz-linear-gradient(top, #999999, #5e5e5e);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #999999, endColorstr = #5e5e5e); }
        .button.grey.disabled:hover.set, .button.grey.disabled:active.set, .button.grey[disabled]:hover.set, .button.grey[disabled]:active.set {
          border: solid 1px #444444; }
  .button.black {
    background: #555555;
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#1a1a1a));
    background: -moz-linear-gradient(top, #555555, #1a1a1a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #555555, endColorstr = #1a1a1a);
    border-top: solid 1px #555555;
    border-right: solid 1px #1a1a1a;
    border-bottom: solid 1px black;
    border-left: solid 1px #1a1a1a; }
    .button.black.set {
      border: solid 1px black; }
    .button.black:hover {
      background: #666666;
      background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#2b2b2b));
      background: -moz-linear-gradient(top, #666666, #2b2b2b);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #666666, endColorstr = #2b2b2b); }
    .button.black:active {
      color: black !important;
      border-top: solid 1px black;
      border-bottom: solid 1px #1a1a1a;
      background: #1a1a1a;
      background: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#2b2b2b));
      background: -moz-linear-gradient(top, #1a1a1a, #2b2b2b);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #1a1a1a, endColorstr = #2b2b2b); }
    .button.black.disabled, .button.black[disabled] {
      color: #555555; }
      .button.black.disabled:hover, .button.black.disabled:active, .button.black[disabled]:hover, .button.black[disabled]:active {
        border-top: solid 1px #555555;
        border-right: solid 1px #1a1a1a;
        border-bottom: solid 1px black;
        border-left: solid 1px #1a1a1a;
        background: #555555;
        background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#1a1a1a));
        background: -moz-linear-gradient(top, #555555, #1a1a1a);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #555555, endColorstr = #1a1a1a); }
        .button.black.disabled:hover.set, .button.black.disabled:active.set, .button.black[disabled]:hover.set, .button.black[disabled]:active.set {
          border: solid 1px black; }
  .button.red {
    background: #ff1a00;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff1a00), to(#880e00));
    background: -moz-linear-gradient(top, #ff1a00, #880e00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff1a00, endColorstr = #880e00);
    border-top: solid 1px #ff1a00;
    border-right: solid 1px #880e00;
    border-bottom: solid 1px #550900;
    border-left: solid 1px #880e00; }
    .button.red.set {
      border: solid 1px #550900; }
    .button.red:hover {
      background: #ff3922;
      background: -webkit-gradient(linear, left top, left bottom, from(#ff3922), to(#aa1100));
      background: -moz-linear-gradient(top, #ff3922, #aa1100);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff3922, endColorstr = #aa1100); }
    .button.red:active {
      color: #550900 !important;
      border-top: solid 1px #550900;
      border-bottom: solid 1px #880e00;
      background: #880e00;
      background: -webkit-gradient(linear, left top, left bottom, from(#880e00), to(#aa1100));
      background: -moz-linear-gradient(top, #880e00, #aa1100);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #880e00, endColorstr = #aa1100); }
    .button.red.disabled, .button.red[disabled] {
      color: #ff1a00; }
      .button.red.disabled:hover, .button.red.disabled:active, .button.red[disabled]:hover, .button.red[disabled]:active {
        border-top: solid 1px #ff1a00;
        border-right: solid 1px #880e00;
        border-bottom: solid 1px #550900;
        border-left: solid 1px #880e00;
        background: #ff1a00;
        background: -webkit-gradient(linear, left top, left bottom, from(#ff1a00), to(#880e00));
        background: -moz-linear-gradient(top, #ff1a00, #880e00);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff1a00, endColorstr = #880e00); }
        .button.red.disabled:hover.set, .button.red.disabled:active.set, .button.red[disabled]:hover.set, .button.red[disabled]:active.set {
          border: solid 1px #550900; }
  .button.white {
    color: #333333;
    text-shadow: 0 1px 0 white;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
    background: -moz-linear-gradient(top, #eeeeee, #cccccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff1a00, endColorstr = #880e00);
    border-top: solid 1px #eeeeee;
    border-right: solid 1px #cccccc;
    border-bottom: solid 1px #bbbbbb;
    border-left: solid 1px #cccccc; }
    .button.white.set {
      border: solid 1px #bbbbbb; }
    .button.white:hover {
      background: #f6f6f6;
      background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#dddddd));
      background: -moz-linear-gradient(top, #f6f6f6, #dddddd);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff3922, endColorstr = #aa1100); }
    .button.white:active {
      color: #bbbbbb !important;
      border-top: solid 1px #bbbbbb;
      border-bottom: solid 1px #cccccc;
      background: #cccccc;
      background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#dddddd));
      background: -moz-linear-gradient(top, #cccccc, #dddddd);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #880e00, endColorstr = #aa1100); }
    .button.white.disabled, .button.white[disabled] {
      color: #eeeeee; }
      .button.white.disabled:hover, .button.white.disabled:active, .button.white[disabled]:hover, .button.white[disabled]:active {
        border-top: solid 1px #eeeeee;
        border-right: solid 1px #cccccc;
        border-bottom: solid 1px #bbbbbb;
        border-left: solid 1px #cccccc;
        background: #eeeeee;
        background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
        background: -moz-linear-gradient(top, #eeeeee, #cccccc);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff1a00, endColorstr = #880e00); }
        .button.white.disabled:hover.set, .button.white.disabled:active.set, .button.white[disabled]:hover.set, .button.white[disabled]:active.set {
          border: solid 1px #bbbbbb; }
        .button.button_shadow {
            -moz-box-shadow: 0 1px 2px #111111;
            -webkit-box-shadow: 0 1px 2px #111111;
        }

.button.superlarge {
    display: inline;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}